<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>162423764968-pki67ovju6m52cc9br71b9g2k054rg5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162423764968-pki67ovju6m52cc9br71b9g2k054rg5c</string>
	<key>API_KEY</key>
	<string>AIzaSyBl1bovEQw5SBdNeVBz4aSzkfoWyWts4VM</string>
	<key>GCM_SENDER_ID</key>
	<string>162423764968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MobilePic.Messenger</string>
	<key>PROJECT_ID</key>
	<string>connect-991e3</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-991e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162423764968:ios:9b7430f4ea138a10</string>
	<key>DATABASE_URL</key>
	<string>https://connect-991e3.firebaseio.com</string>
</dict>
</plist>